.addPostButton {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  background-color: rgb(170, 170, 170);
  width: 1000px;
  padding: 50px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  justify-content: center;
}


.addPostButton button {
    width: 500px;
    padding: 20px;
    border-radius: 7px;
    border: 2px solid black;
    background-color: aliceblue;
}

.addPostButton button:hover {
    background-color: rgb(221, 238, 252);
    cursor: pointer;
}