main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(170, 170, 170);
  width: 1000px;
  padding: 50px;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.container h3 {
  display: block;
  width: 100%;
  text-align: center;
}