.post {
    background-color: rgb(124, 124, 124);
    border: 2px solid black;
    width: 310px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
}

.date {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    display: flex;
    align-self: flex-start;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-right: auto;
}

.postButton {
    padding: 7px;
    background-color: aliceblue;
    border: 2px solid black;
    font-weight: bold;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.postButton:hover {
    background-color: rgb(221, 238, 252);
    cursor: pointer;
}

.postBody {
    padding: 10px;
    text-align: justify;
    overflow-y: auto;
    flex: 1;
}